.title{
    text-align: center;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 60px; /* Para compensar a navbar fixa */
  }
  
.banner {
    height: 80vh;
    background: url('https://th.bing.com/th/id/R.623a43336e8a9734c51a85968c72a694?rik=mYEnOgMLlYulBg&pid=ImgRaw&r=0') no-repeat center center/cover;
    color: white;
}
  
  .banner-content {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  }
  
  .custom-navbar-brand {
    font-family: 'Arial', sans-serif; /* Altere para a fonte desejada */
    margin-left: 15px;
    margin-right: 15px;
  }
  
  footer {
    background-color: #f8f9fa;
  }

  .navbar-brand{
    font-family:'Times New Roman', Times, serif;
  }